<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Smart Estimate</title>
</head>
<body>
<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a>
            </li>
            <li class="nav-item"><a href="/estimate" class="nav-link link-dark px-2">Estimate</a></li>
            <li class="nav-item"><a href="/about" class="nav-link link-dark px-2">About</a></li>
            {% if current_user.is_admin and current_user.is_authenticated %}
            <li class="nav-item"><a href="/users" class="nav-link link-dark px-2">Users</a></li>
            {% endif %}
        </ul>
        <ul class="nav">
            {% if current_user.is_authenticated %}
            <li class="nav-item"><a href="/logout" class="nav-link link-dark px-2">Logout</a></li>
            {% else %}
            <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">Login</a></li>
            <li class="nav-item"><a href="/register" class="nav-link link-dark px-2">Sign up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Smart Estimate</span>
        </a>
    </div>
</header>
<div style="margin-left: 15%;">
    <h4 style="text-align: left; width: 80%;">SmartEstimate is a web project designed to demonstrate a new way of
        evaluating content (in particular, films), which does not require the user to evaluate his own attitude to the
        film on an integer scale.
        <br> With a machine learning model based on logistic regression, user feedback automatically takes an integer
        value on the emotional scale.
        Also, the advantage of this project is the ability of the model to continue learning using the feedback form for
        predictions.</h4>
</div>
</body>
</html>