<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <title>Smart Estimate</title>
</head>
<body>
<div>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a>
                </li>
                <li class="nav-item"><a href="/index" class="nav-link link-dark px-2">Estimate</a></li>
                <li class="nav-item"><a href="/about" class="nav-link link-dark px-2">About</a></li>
            </ul>
            <ul class="nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item"><a href="/logout" class="nav-link link-dark px-2">Logout</a></li>
                {% else %}
                <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">Login</a></li>
                <li class="nav-item"><a href="/register" class="nav-link link-dark px-2">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
<form action="/index" method="post">
    <ul class="list-group list-group-horizontal" style="margin: 50px; text-align: center;">
        <input class="list-group-item list-group-item-action active" aria-current="true"
               style="margin: 5px; background-color: gray; border-color: gray;"
               value="feature film" type=submit name="genre">
        <input class="list-group-item list-group-item-action active" aria-current="true"
               style="margin: 5px; background-color: gray; border-color: gray;"
               value="short film" type=submit name="genre">
        <input class="list-group-item list-group-item-action active" aria-current="true"
               style="margin: 5px; background-color: gray; border-color: gray;"
               value="action" type=submit name="genre">
    </ul>
    <ul class="list-group list-group-horizontal" style="margin: 50px; text-align: center;">
        <input class="list-group-item list-group-item-action active" aria-current="true"
               style="margin: 5px; background-color: gray; border-color: gray;"
               value="adventure" type=submit name="genre">
        <input class="list-group-item list-group-item-action active" aria-current="true"
               style="margin: 5px; background-color: gray; border-color: gray;"
               value="comedy" type=submit name="genre">
        <input class="list-group-item list-group-item-action active" aria-current="true"
               style="margin: 5px; background-color: gray; border-color: gray;"
               value="drama" type=submit name="genre">
    </ul>
    <ul class="list-group list-group-horizontal" style="margin: 50px; text-align: center;">
        <input class="list-group-item list-group-item-action active" aria-current="true"
               style="margin: 5px; background-color: gray; border-color: gray;"
               value="crime" type=submit name="genre">
        <input class="list-group-item list-group-item-action active" aria-current="true"
               style="margin: 5px; background-color: gray; border-color: gray;"
               value="horror" type=submit name="genre">
        <input class="list-group-item list-group-item-action active" aria-current="true"
               style="margin: 5px; background-color: gray; border-color: gray;"
               value="fantasy" type=submit name="genre">
    </ul>
</form>
</body>
</html>