<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <title>Smart Estimate</title>
</head>
<body>
<div>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a>
                </li>
                <li class="nav-item"><a href="/estimate" class="nav-link link-dark px-2">Estimate</a></li>
                <li class="nav-item"><a href="/about" class="nav-link link-dark px-2">About</a></li>
                {% if current_user.is_admin and current_user.is_authenticated %}
                <li class="nav-item"><a href="/users" class="nav-link link-dark px-2">Users</a></li>
                {% endif %}
            </ul>
            <ul class="nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item"><a href="/logout" class="nav-link link-dark px-2">Logout</a></li>
                {% else %}
                <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">Login</a></li>
                <li class="nav-item"><a href="/register" class="nav-link link-dark px-2">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Smart Estimate</span>
            </a>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                <div id="myDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    {% for item in items %}
                    <form action="/movie" method="post">
                        <button type="submit" name="title" value="{{item[1]}}" class="btn-link">{{item[1]}}</button>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
</div>
<div style="width: 50%; text-align:center; margin:auto;">
    <table class="table table-striped">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Score</th>
            <th scope="col">Number of comments</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>
                <form action="/movie" method="post"><input type="submit" name="title" value="{{item[1]}}"></form>
            </td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            {% if current_user.is_admin and current_user.is_authenticated %}
            <td>
                <form action="/delete_movie" method="post">
                    <button type="submit" name="delete" value="{{item[1]}}" class="btn-link">Delete</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("button");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

</script>
</body>
</html>