<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a>
                </li>
                <li class="nav-item"><a href="/estimate" class="nav-link link-dark px-2">Estimate</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Genres</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
            </ul>
            <ul class="nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item"><a href="/logout" class="nav-link link-dark px-2">Logout</a></li>
                {% else %}
                <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">Login</a></li>
                <li class="nav-item"><a href="/register" class="nav-link link-dark px-2">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">{{ title }}</span>
            </a>
            <div style="width: 50%; text-align:center; margin: auto; margin-top: 20px;">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">genre: {{ info[0][2] }}</th>
                        <th scope="col">score: {{ info[0][3] }}</th>
                        <th scope="col">comment count: {{ info[0][4] }}</th>
                    </tr>
                </table>
            </div>
        </div>
    </header>
</div>
<div style="width: 50%; text-align:center; margin:auto;">
    <table class="table table-striped">
        <tr>{% if current_user.is_admin and current_user.is_authenticated %}
            <th scope="col">User ID</th>
            {% endif %}
            <th scope="col">Review</th>
            <th scope="col">Sentiment</th>
            <th scope="col">Date</th>
        </tr>
        {% for item in comm %}
        <tr>{% if current_user.is_admin and current_user.is_authenticated %}
            <td>{{current_user.id}}</td>
            {% endif %}
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            {% if current_user.is_admin and current_user.is_authenticated %}
            <td>
                <form action="/delete_review" method="post">
                    <button type="submit" name="delete" value="{{item[0]}}" class="btn-link">
                        Delete
                    </button>
                    <input type="hidden" name="title" value="{{ title }}">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
<form action="/certain_estimate" method="post" style="width: 50%; text-align:center; margin:auto;">
    <button type="submit" name="c_estimate" value="{{ title }}" class="btn-link">Estimate</button>
</form>
</body>
</html>