<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a>
                </li>
                <li class="nav-item"><a href="/estimate" class="nav-link link-dark px-2">Estimate</a></li>
                <li class="nav-item"><a href="/about" class="nav-link link-dark px-2">About</a></li>
            </ul>
        </div>
    </nav>

</div>
<h3 style="text-align: center;">Your movie review:</h3>
<div style="text-align: center;">{{ content }}</div>
<h3 style="text-align: center;">Prediction</h3>
<div style="text-align: center;"> This movie review is <strong>{{ prediction }} (probability: {{ probability }}%).</strong></div>
<div id="button" style="text-align: center; margin: 10px;">
    <form action="/thanks" method="post">
        <input type=submit value="Correct" name="feedback_button">
        <input type=submit value="Incorrect" name="feedback_button">
        <input type=hidden value="{{ prediction }}" name="prediction">
        <input type=hidden value="{{ content }}" name="review">
        <input type=hidden value="{{ title }}" name="title">
    </form>
</div>

<div id="button" style="text-align: center; margin: 10px;">
    <form action="/">
        <input type=submit value="Submit another review">
    </form>
</div>
</body>
</html>