<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartEstimate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }



    </style>
</head>
<body>
<div>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a>
                </li>
                <li class="nav-item"><a href="/estimate" class="nav-link link-dark px-2">Estimate</a></li>
                <li class="nav-item"><a href="/about" class="nav-link link-dark px-2">About</a></li>
            </ul>
        </div>
    </nav>
</div>
<h2 style="text-align: center; margin: 10px;">Please enter movie title and your review:</h2>
{% from "_formhelpers.html" import render_field %}
<form method=post action="/results">
    <h4 style="text-align: center;">Movie title:</h4>
    <dl style="margin-left: 35%;">
        {{ render_field(form.movietitle, cols='60', rows='3') }}
    </dl>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <h5 style="text-align:center;">{{ messages[0] }}</h5>
    {% endif %}
    {% endwith %}
    <h4 style="text-align: center;">Your review:</h4>
    <dl style="margin-left: 35%;">
        {{ render_field(form.moviereview, cols='60', rows='3') }}
    </dl>
    <div style="margin-left: 35%;">
        <input type=submit value="Submit review" name="submit_btn">
        <input type=hidden value="{{ genre }}" name="genre">
    </div>
</form>
</body>
</html>