<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"/>
    <title>User-List</title>
</head>
<body>
<div>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a>
                </li>
                <li class="nav-item"><a href="/estimate" class="nav-link link-dark px-2">Estimate</a></li>
                <li class="nav-item"><a href="/about" class="nav-link link-dark px-2">About</a></li>
                {% if current_user.is_admin and current_user.is_authenticated %}
                <li class="nav-item"><a href="/users" class="nav-link link-dark px-2">Users</a></li>
                {% endif %}
            </ul>
            <ul class="nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item"><a href="/logout" class="nav-link link-dark px-2">Logout</a></li>
                {% else %}
                <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">Login</a></li>
                <li class="nav-item"><a href="/register" class="nav-link link-dark px-2">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

</div>
<div style="width: 50%; text-align:center; margin:auto;">
    <table class="table table-striped">
        <tr>
            <th scope="col">User ID</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user[0]}}</td>
            {% if current_user.is_admin and current_user.is_authenticated %}
            <td>
                <form action="/delete_user" method="post">
                    <button type="submit" name="delete" value="{{user[0]}}" class="btn-link">Delete</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>